* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

.serifFonts {
  border: 3px solid rgb(207, 19, 19);
}

.fonts {
  padding: 2rem;
  background-color: rgb(171, 231, 208);
  font-size: 3rem;
}

.didot {
  font-family: "linotype-didot", serif;
  font-size: 3rem;
  margin-bottom: 5rem;
  border: 2px solid #111;
  padding: 2rem;

  &__bold {
    font-weight: 700;
    font-style: normal;
    margin-bottom: 5rem;
    font-size: 3rem;

    &__italic {
      font-weight: 700;
      font-style: italic;
      margin-bottom: 5rem;
      font-size: 3rem;
    }
  }

  &__italic {
    font-weight: 400;
    font-style: italic;
    margin-bottom: 5rem;
    font-size: 3rem;
  }

  &__roman {
    font-weight: 400;
    font-style: normal;
    margin-bottom: 5rem;
    font-size: 3rem;
  }

  &__headline {
    font-family: "linotype-didot-headline", serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 5rem;
  }
}

// XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
// OPEN SANS
// XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

.openSans {
  font-family: "Open Sans", serif;
  font-size: 2rem;
  margin-bottom: 5rem;
  border: 2px solid #111;
  padding: 3rem;

  &--italic {
    &--300 {
      font-weight: 300;
      font-style: italic;
      font-size: 6rem;
      line-height: 1.3;
      letter-spacing: 1px;
      margin-bottom: 7rem;
    }

    &--400 {
      font-weight: 400;
      font-style: italic;
      font-size: 6rem;
      line-height: 1.3;
      letter-spacing: 1px;
      margin-bottom: 7rem;
    }
  }

  &--regular {
    &--300 {
      font-weight: 300;
      font-style: normal;
      font-size: 6rem;
      line-height: 1.3;
      letter-spacing: 1px;
      margin-bottom: 7rem;
    }

    &--400 {
      font-weight: 400;
      font-style: normal;
      font-size: 6rem;
      line-height: 1.3;
      letter-spacing: 1px;
      margin-bottom: 7rem;
    }

    &--800 {
      font-weight: 800;
      font-style: normal;
      font-size: 7.2rem;
      line-height: 1.2;
      letter-spacing: 1.3px;
      margin-bottom: 7rem;
    }

    &--700 {
      font-weight: 700;
      font-style: normal;
      font-size: 6.6rem;
      line-height: 1.2;
      letter-spacing: 1.3px;
      margin-bottom: 7rem;
    }
  }
}

.nitelik {
  font-size: 2rem;
  font-weight: 400;
  color: #999;
}

.roboto {
  font-family: "Roboto", serif;
  font-size: 2rem;
  margin-bottom: 5rem;
  border: 2px solid #111;
  padding: 3rem;

  &--italic {
    &--300 {
      font-weight: 300;
      font-style: italic;
      font-size: 6rem;
      line-height: 1.3;
      letter-spacing: 1px;
      margin-bottom: 7rem;
    }

    &--400 {
      font-weight: 400;
      font-style: italic;
      font-size: 6rem;
      line-height: 1.3;
      letter-spacing: 1px;
      margin-bottom: 7rem;
    }
  }

  &--regular {
    &--300 {
      font-weight: 300;
      font-style: normal;
      font-size: 6rem;
      line-height: 1.3;
      letter-spacing: 1px;
      margin-bottom: 7rem;
    }

    &--400 {
      font-weight: 400;
      font-style: normal;
      font-size: 6rem;
      line-height: 1.3;
      letter-spacing: 1px;
      margin-bottom: 7rem;
    }

    &--800 {
      font-weight: 800;
      font-style: normal;
      font-size: 7.2rem;
      line-height: 1.2;
      letter-spacing: 1.3px;
      margin-bottom: 7rem;
    }

    &--700 {
      font-weight: 700;
      font-style: normal;
      font-size: 6.6rem;
      line-height: 1.2;
      letter-spacing: 1.3px;
      margin-bottom: 7rem;
    }
  }
}
